// _variables.scss

// ---------------------------------------------------------------------------//


@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900";

$runnRed         : #cd0a24;
$facebookBlue	 : #3b5998; 


$bodyFont : 'Roboto', sans-serif;